<div class="table-responsive">
  <table class="table table-borderless text-center">
    <thead>
      <tr class="table-danger table-group-divider h1">
        <th class="fw-semibold" colspan="2">Photo Editor</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr>
        <td class="table-danger" style="width: 170px">
          <% if @image.image? %>
            <div class="border border-secondary p-2 mb-2 rounded">
              <%= button_to 'Add Border', edit_path, class: "btn btn-bd-primary", params: {image: @image.image.bordered}, method: :patch %>
            </div>

            <div class="border border-secondary p-2 mb-2 rounded">
              <%= button_to 'Rotate Left', edit_path, class: "btn btn-bd-primary", params: {image: @image.image.left}, method: :patch %>
            </div>

            <div class="border border-secondary p-2 mb-2 rounded">
              <%= button_to 'Rotate Right', edit_path, class: "btn btn-bd-primary", params: {image: @image.image.right}, method: :patch %>
            </div>

            <div class="border border-secondary p-2 mb-2 rounded">
              <%= button_to 'Resize to small', edit_path, class: "btn btn-bd-primary", params: {image: @image.image.small}, method: :patch %>
            </div>

            <div class="border border-secondary p-2 mb-2 rounded">
              <%= button_to 'Resize to big', edit_path, class: "btn btn-bd-primary", params: {image: @image.image.big}, method: :patch %>
            </div>
          
            <div class="border border-secondary p-2 mb-2 rounded">
              <a href="<%= "#{request.protocol}#{request.host_with_port}#{@image.image.url}" %>"
                download="<%= "image#{@image.id}_#{rand(100)}.#{@image.image.url.split(".").last}" %>"
                class="btn btn-bd-primary">Download</a>
            </div>
          
            <div class="border border-secondary p-2 mb-2 rounded">
              <%= button_to 'Delete', delete_path, class: "btn btn-bd-primary", method: :delete, params: {remove_image: @image.image } %>
            </div>

          <% end %>
        </th>
        <td class="align-middle" >
          <%= render 'image' %>
        </td>
      </tr>


    </tbody>
  </table>
</div>
